.fondo {
    background-color:rgb(253, 252, 247);
}

.items {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.boton-agregar {
    display: flex;
    justify-content: center;
}