.detalle {
    display: flex;
    justify-content: center;
}

.detalle-producto {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    padding: 2%;
    width: 50%;
    height: 70%;
    border-radius: 2%;
    border-radius: 2%;
    border: 2px solid rgb(235, 62, 62);
}

.detalle-imagen {
    width: 40%;
    max-height: 60vh;
}

.detalle-info {
    text-align: center;
    width: 50%;
}

.detalle-title {
    font-size: 1.4rem;
    height: 35%;
}

.detalle-precio {
    font-size: 1.4rem;
}

.btn-detail {
    margin-top: 5%;
}

.botones-detail {
    color: white;
}

.terminar:hover {
    color: white;
    font-weight:bolder;
    text-decoration: none;
}
