.detalle {
    display: flex;
    justify-content: center;
}

.detalle-producto {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    padding: 2%;
    width: 50%;
    border-radius: 2%;
    border-radius: 2%;
    border: 2px solid rgb(235, 62, 62);
}

.detalle-info {
    text-align: center;
    width: 50%;
}

.detalle-imagen {
    width: 40%;
    max-height: 60vh;
}

.detalle-title {
    font-size: 1.4rem;
    height: 35%;
}

.detalle-precio {
    font-size: 1.4rem;
}
