.item-count {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.item-count-b {
    max-width: 80%;
    margin-bottom: 6%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #dc3545;
    border-radius: .25rem;
}

.boton-contador {
    font-weight: 700;
}

.boton-contador:focus {
    box-shadow:none;
}

.contador {
    text-align: center;
    border: none;
    max-width: 50%;
}