.item-count {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.item-count-b {
    border: 3px solid rgb(235, 62, 62);
    max-width: 80%;
}

.boton-contador {
    font-weight: 700;
}

.boton-contador:focus {
    box-shadow:none;
}

.contador {
    text-align: center;
    border: none;
    max-width: 120px;
}