.checkout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
}

.checkout-detalle {
    width: 60%;
}

.datos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.ingresos {
    margin-top: 2%;
    box-shadow: 5px 5px 5px 5px gray;
    padding: 8px 25px;
    width: 50%;
}

.titulo-ingresos {
    display: flex;
    justify-content:center;
}

.detalle-ingresos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.input-datos {
    border: 1px solid rgb(65, 64, 64);
    background-color: rgb(245 239 239);
    margin-bottom: 2%;
    height: 6vh;
}

.input-datos:valid {
    border: 1px solid rgb(4, 196, 4);
}

.input-datos:invalid {
    border: 1px solid rgb(252, 65, 65);
}

.aceptar {
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

.orden {
    margin-top: 5%;
}
