.carrito-vacio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carrito-titulo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    margin: 2% 0 2% 0;
}

.detalle-carrito {
    display: flex;
    align-items: center;
    margin: 2%;
    box-shadow: 2px 2px 10px  rgb(235, 62, 62);
    height: 30vh;
}

.detalle-carrito-imagen {
    width: 12%;
    height: 75%;
    margin-left: 2%;
}

.detalle-carrito-nombre {
    margin-left: 2%;
    width: 20%;
}

.detalle-carrito-cantidad {
    width: 2%;
    font-size: 1rem;
}

.detalle-carrito-precio {
    width: 10%;
    display: flex;
    justify-content: flex-end ;
    margin-right: 2%;
}

.carrito-itemCount {
    width: 18%;
}

.detalle-carrito-subtotal {
    width: 15%;
    display: flex;
    justify-content: flex-end ;
    margin-right: 2%;
}

.carrito-eliminar-item {
    color:rgb(235, 62, 62);
}

.carrito-eliminar-item:hover {
    color:rgb(235, 62, 62);
}

.btn-eliminar-item {
    font-size: 1.5rem;
    border: none; 
    background-color:white;
    width: 10%;
}

.carrito-total {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 10%;
}

.botones-carrito {
    display: flex;
    justify-content: space-evenly;
    margin: 2% 0 2% 0;
}