.carrito-titulo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.detalle-carrito {
    display: flex;
    align-items: center;
    margin-bottom: 2%;
}

.detalle-carrito-titulo {
    margin-left: 2%;
    width: 50%;
}

.detalle-carrito-cantidad {
    width: 10%;
    font-size: 1.2rem;
    display: flex;
    justify-content: flex-end ;
    margin-right: 2%;
}

.detalle-carrito-precio {
    width: 15%;
    display: flex;
    justify-content: flex-end ;
    margin-right: 2%;
}

.carrito-eliminar-item {
    color:rgb(235, 62, 62);
}

.carrito-eliminar-item:hover {
    color:rgb(235, 62, 62);
}

.btn-eliminar-item {
    font-size: 1.5rem;
    border: none; 
    background-color:white;
}

.carrito-total {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 10%;
}